
<div class="Sign-in">
  <form action="/logout" method="post">
        <input class="btn" type="submit" value="Logout">
  </form>

  <div class="">
    <a href="/home">Home</a>
  </div>

  <p>Currently logged in as: {{username}}</p>
</div>
