<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
      <div class="UpperBar">
        <div class="title">
          <h1>Bluedit</h1>
        </div>
      </div>
      <div class="Sign-in">
        <div class="">
          <a href="/register">Sign-up</a>
        </div>
        <div class="">
          <a href="/login">Login</a>
        </div>
      </div>
    </header>
    {{{body}}}
  </body>
</html>
