<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    {{> logout}}

    <h1>Make a post</h1>

    <form class="" action="/post" method="post">
      <label for="title">Title:</label>
      <input type="text" name="title" value="" required>
      <br>

      <label for="content">Post:</label>
      <br>
      <textarea name="content" rows="10" cols="30" required></textarea>

      <br>
      <input class="hidden" type="text" name="posterName" value={{username}}>

      <input type="submit">
    </form>
  </body>
</html>
