<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    {{> signup}}

    <h1>Register</h1>
    <form action="/register" method="post">
      <p>
        <input type="text" name="username" placeholder="Username">
      </p>
      <p>
        <input type="text" name="email" placeholder="Email">
      </p>
      <p>
        <input type="password" name="password" placeholder="Password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>

    {{#each errorMessages}}
      <p>{{message}}</p>
    {{/each}}
    {{#each successMessage}}
      <p>{{message}}</p>
    {{/each}}
  </body>
</html>
