body {
  text-align: center;
}

header{
  display: flex;
  flex-direction: row;
}
.Sign-in{
  display: flex;
}
a{
  text-decoration:none;
  color: black;
}
.title{
  color: blue;
}
.UpperBar{
  font-size: 30px;
  border: solid;
  padding:0;
}
.Sign-in div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  height: 40px;
  width: 60px;
  background-color: lightblue;
  border-radius: 4px;
  margin: 10px;
}

.btn {
  height: 40px;
  width: 60px;
  background-color: lightblue;
  border-radius: 4px;
  margin: 10px;
  text-decoration:none;
}

.hidden {
  display:none;
}

.post {
  width:100%;
  border:solid;
  margin-bottom:10px;
  border-radius:15px;
  display:grid;
  grid-template-columns:50px auto;
}

.postheader {
  display:flex;
  flex-direction:row;
}

.posttitle {
  margin-left:10px;
  margin-right:10px;
  padding-top:0px;
}

.postusername {
  margin-left:10px;
  padding-top:25px;
}

.postcontent {
  margin-left:10px;
  text-align:left;
}

.votes {
  height:100px;
  padding-top:15px;
  display:flex;
  flex-flow:column;
  align-items: center;
  justify-content:space-around;
}

.topofposts {
  text-align:left;
}

.postbutton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.postbutton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
