body {
  text-align: center;
}

header{
  display: flex;
  flex-direction: row;
}
.Sign-in{
  display: flex;
}
.UpperBar{
  font-size: 30px;
  border: solid;
  padding:0;
}
.Sign-in div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  height: 40px;
  width: 60px;
  background-color: orange;
  border-radius: 4px;
  margin: 10px;
}

.btn {
  height: 40px;
  width: 60px;
  background-color: orange;
  border-radius: 4px;
  margin: 10px;
  text-decoration:none;
}

.hidden {
  display:none;
}

.post {
  width:100%;
  border:solid;
  margin-bottom:10px;
  border-radius:15px;
  display:grid;
  grid-template-columns:50px auto;
}

.postheader {
  display:flex;
  flex-direction:row;
}

.posttitle {
  margin-left:10px;
  margin-right:10px;
  padding-top:0px;
}

.postusername {
  margin-left:10px;
  padding-top:5px;
}

.postcontent {
  margin-left:10px;
  text-align:left;
}

.votes {
  height:100px;
  padding-top:15px;
  display:flex;
  flex-flow:column;
  align-items: center;
  justify-content:space-around;
}
